---
layout: default
---

<article>

	<div class="center">
		<h1 class="title">{{ page.title }}</h1>
		<time class="code">{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

	<div class="divider"></div>

	{{ content }}

	<hr>
	<div>
		Hello reader. I do not normally like to put advertisements or promotions on my website, but recently a good friend of my Jaden Ann Scrivener died in a car crash. She was known in the community as the most caring and energetic person around. She was a beam of sunshine and happiness brightening up the day of anyone who interacted with her. If you could <a href="https://www.aplos.com/aws/give/RayofHopeMedicalMissionsInc/Jaden">please donate to her memorial fund</a>. All the proceeds will go to the <a href="https://www.rohmm.org/">Ray of Hope Medical Missions</a> which facilitates life-changing surgeries, reduces infant mortality, and provides mission opportunities locally.
	</div>
</article>

<div class="page-navigation code">
	<a class="home" href="{{ "/" | prepend: site.baseurl }}" title="Back to Index">← Index</a>
</div>
